<%@ page import="rewards.Customer" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'customer.label', default: 'Customer')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-customer" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-customer" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="phone" title="${message(code: 'customer.phone.label', default: 'Phone')}" />
					
						<g:sortableColumn property="firstName" title="${message(code: 'customer.firstName.label', default: 'First Name')}" />
					
						<g:sortableColumn property="lastName" title="${message(code: 'customer.lastName.label', default: 'Last Name')}" />
					
						<g:sortableColumn property="email" title="${message(code: 'customer.email.label', default: 'Email')}" />
					
						<g:sortableColumn property="totalPoints" title="${message(code: 'customer.totalPoints.label', default: 'Total Points')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${customerList}" status="i" var="customer">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${customer.id}"> ${fieldValue(bean: customer, field: "phone")}</g:link></td>
					
						<td>${fieldValue(bean: customer, field: "firstName")}</td>
					
						<td>${fieldValue(bean: customer, field: "lastName")}</td>
					
						<td>${fieldValue(bean: customer, field: "email")}</td>
					
						<td>${fieldValue(bean: customer, field: "totalPoints")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
		</div>
	</body>
</html>
